html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    display: flex;
    margin: 200px auto;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition-duration: 0.4s;
}

button:focus,
button:hover {
    background: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
